*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 h2 {
    text-align: center;
    width: 1200px;
    height: 20px;
    margin: 0 auto;
 }
 img{
	display: inline-block;
 }
 h3{
 	width: 80px;
 	margin-top: 70px;
 }
/*  #wrap { */
/*     width: 100%; */
/*     height: 100%; */
/*     position: relative; */
/*     border: 1px solid black; */
/*  } */

 #container {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    position: relative;
 }
 #searchFrm {
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: 80px;
 }
 /* 기간 별 조회 기능 */
.searchDate {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    left: 340px;
}
.searchDate li{
	position:relative;
	float:left;
	margin:0 7px 0 0
}
.searchDate li .chkbox2{
	display:block;
	text-align:center
}

.searchDate li .chkbox2 input{
	position:absolute;
	z-index:-1
}

.searchDate li .chkbox2 label{
	display:block;
	width:72px;
	height:26px;
	font-size:14px;
	color:balck;
	text-align:center;
	line-height:25px;
	text-decoration:none;
	cursor:pointer;
	background:rgb(231, 226, 219);
}

.searchDate li .chkbox2.on label{
	background:gray;
}

.searchDate li .reset  {
	display: block;
	width: 72px;
	height: 26px;
	font-size: 14px;
	color: balck;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	cursor: pointer;
	background-color:transparent;  
	border:0px transparent solid;
	background: rgb(231, 226, 219);
}

/* 검색 및 날짜 창 */
 #search_text{
    position: relative;
    top: -10px;
    left: 690px;
 }
 #colName {
    height:25px;
 }
 #searchWord{
    margin-left: 5px;
    position: absolute;
    height:25px;
 }
 
 #startDate, #endDate {
	text-align: center;
    height:25px;
 }
 
 #calendar {
	height: 25px;
    position: relative;
    top: 12px;
    left: 250px;

 }
 
 #btnSearch{
 	position: relative;
 	cursor: pointer;
 	top: -40px;
 	left: 225px;
 }

#reserve_list{
	text-align: left;
    position: relative;
    top: 100px;
    width: 1200px;
    margin: 0 auto;
    
}

/* 예약 기능*/
.detail_reserve{
   margin: 0 auto;
   width: 1200px;
   height: 50px;
   line-height: 30px;
   border-top: 1px solid black;
   border-bottom: 1px solid rgba(200, 200, 200, 0.5);
   position: relative;
   top: 110px;
   background-color: rgb(231, 226, 219);
}
.detail-center {
	width: 1200px;
	height: 40px;
}
.detail-list td{
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    text-align: center;
    width: 1200px;
    height: 30px;
    position: relative;
    top: 10px;
}
.detail-list td a {
	transition: all 0.3s;
    cursor: pointer;
}

.detail-list td:nth-child(1) a:hover {
	color:gray;
	text-decoration: none;
}
.detail-center td{
   text-align: center;
}

/* 검색 달력 기능 */
img.ui-datepicker-trigger{
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
    position: relative;
    top: 3px;
}

.ui-datepicker{
	margin-left: 141px;
	margin-top: -220px;
}

/* page 기능 */
.page {
    text-align: center;
    margin: 0px auto;
    margin-top: 25px;
}

.page a {
	font-size: 20px;
}

/* alert */
.swal2-title {
	top: -30px;
    padding-top: 50px;
    font-size: 18px;
}
.swal2-styled.swal2-confirm{
	background-color: black;
}

.swal2-popup .swal2-styled:focus { 
	box-shadow: none !important; 
}

.swal2-container.swal2-center>.swal2-popup {
    width: 310px;
}
.swal2-html-container {
	font-size: 13px;
}