*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 h2 {
    text-align: center;
	padding-top: 120px;
    width: 1200px;
    height: 20px;
    margin: 0 auto;
 }
 img{
	display: inline-block;
 }
 h3{
 	width: 80px;
 	margin-top: 30px;
 }
/*  #wrap { */
/*     width: 100%; */
/*     height: 100%; */
/*     position: relative; */
/*     border: 1px solid black; */
/*  } */

 #container {
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    position: relative;
 }
 #searchFrm {
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: 80px;
 }
 #search_text{
    position: relative;
    top: -10px;
    left: 690px;
 }
 #colName {
    height:22px;
 }
 #searchWord{
    margin-left: 5px;
    position: absolute;
    height:22px;
 }
 
 #startDate, #endDate {
	text-align: center;
    height:22px;
 }
 
 #calendar {
	height: 25px;
    position: relative;
    top: 12px;
    left: 250px;

 }
 
 #btnSearch{
 	position: relative;
 	cursor: pointer;
 	top: -40px;
 	left: 235px;
 }

#reserve_list{
	text-align: left;
    position: relative;
    top: 100px;
    width: 1200px;
    margin: 0 auto;
    
}
.detail_reserve{
   margin: 0 auto;
   width: 1200px;
   height: 50px;
   line-height: 30px;
   border-top: 1px solid black;
   border-bottom: 1px solid rgba(200, 200, 200, 0.5);
   position: relative;
   top: 110px;
   background-color: rgb(231, 226, 219);
}
.detail-center {
	width: 1200px;
	height: 40px;
}
.detail-list td{
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    text-align: center;
    width: 1200px;
    height: 30px;
    position: relative;
    top: 10px;
}
.detail-list td a {
	text-decoration: underline;
	transition: all 0.5s;
}
.detail-list td:nth-child(1) a:hover {
	color:gray;
	text-decoration: none;
}
.detail-center td{
   text-align: center;
}

img.ui-datepicker-trigger{
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
    position: relative;
    top: 3px;
}

.ui-datepicker{
	margin-left: 141px;
	margin-top: -220px;
}
 