*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 h2 {
    text-align: center;
    padding-top: 120px;
 }
 img{
	display: inline-block;
 }
/*  #wrap { */
/*     width: 100%; */
/*     height: 100%; */
/*     position: relative; */
/*     border: 1px solid black; */
/*  } */

 #container {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    position: relative;
 }
 #searchFrm {
    /* border: 1px solid red; */
    position: relative;
    top: 40px;
 }
 #colName {
    position: absolute;
    top: 15px;
    left: 650px;
    /* border: 10px solid black; */
 }
 #searchWord{
    margin: 0 auto;
    position: absolute;
    top: 15px;
    left: 730px;
 }
 #calendar {
	width:600px;
    position: absolute;
    top: 12px;
    left: 960px;
 }
 
 #btnSearch{
 	position: relative;
 	cursor: pointer;
 	left: 1325px;
 	top: -20px;
 }

#reserve_list{
	text-align: left;
    position: relative;
    top: 40px;
    left: 350px;
    
}
.detail_reserve{
   margin: 0 auto;
   width: 1200px;
   height: 200px;
   border-top: 1px solid black;
   margin-top: 40px;
}
.detail_reserve tr:nth-child(2) td {
    border-top: 1px solid rgba(200, 200, 200, 0.5);
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    text-align: center;
    width: 1200px;
    height: 100%;
    position: relative;
    top: 10px;
}
.detail-center td{
   padding: 0 70px;
   text-align: center;
   display: inline-block;
   margin-top: 10px;
}

 