*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#wrap{
    margin: 0 auto;
    width: 1920px;
} 

#wrap1{
    position: relative;
    left: 140px;
    height: 70px;
    font-size: 30px;
} 

.container{
 	width: 1270px;
    margin: 100px auto;
    position: relative;
    left: 410px;
    
   /*  border: 1px solid #333; */
}

/* #container1{
    position: relative;
}  */

#box{
    position: relative;
    left: 200px;
    
}
#box1{
    position: relative;
    left: 75px;

}
#box2 {
	position: relative;
    left: 65px;
}

