*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#wrap{
	/* width: 1920px; */
	width: 100%;
    margin: 0 auto;
}

.container{
 	/* width: 1200px; */
 	width: 100%;
    margin: 50px auto;
}
.container h3{
	/* text-align: center; */
	display: block;
	font-size:23px;
	padding: 14px 0;
    border-bottom: 1px solid #000;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.petitle img{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -4px auto;
}

.modCon{
    width: 1050px;
    margin: 30px auto;
    border-top: 1px solid #e9e9e9;
}

.modCon table{width:100%;}

.modCon table th {
    padding: 13px 0px 13px 34px;
    background-color: #f8f8f8;
    /* vertical-align: top; */
    color: #000;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.modCon table td label {
	display: inline-block;
    width: 96px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 7px;
    background-color: #fff;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #444;
    position: absolute;
    margin-top: 7px;
}
.modCon .head-cell .empha {
    position: absolute;
    top: 6px;
    left: -10px;
    font-size: 14px;
    color: #f8574f;
}

.modCon .head-cell {
    position: relative;
    padding-top: 6px;
 }
 
#preview {
	/* display: block;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    top: 205px;
    right: 100px; */
    border: 1px solid #000;
    border-radius: 10%;
    margin-top: 20px;
    height: 130px;
    margin-left: 85px;
}
 
input#imageFileName {
	margin-left: 200px;
    margin-top: 35px;
    position: absolute;
    top: 301px;
    text-align: center;
}

/* input.upload-name {
	position: absolute;
	top: 370px;
	right: 72px;
	margin-top: 65px;
	left: 658px;
	text-align: center;
	margin-left: 200px;
    margin-top: 70px;
    position: absolute;
    top: 301px;
    text-align: center;
} */

.upload-name {
	 display: inline-block;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    border: none;
    width: 16%;
    color: #999999;
    margin-left: 180px;
    margin-top: -39px;
}
 
.modCon th, .modCon td {
    height: 33px;
    border-bottom: 1px solid #e9e9e9;
}

.modCon td {
    padding: 13px;
    vertical-align: middle;
}

.modCon td .fileMod{
	height: auto;
    /* padding-left: 20px; */
    box-sizing: border-box;
    padding: 10px;
}
/* .modCon td .idpw-info {
    vertical-align: middle;
} */

.modCon td .fileMod input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.bt_removeImg {
    width: 70px;
    height: 22px;
    /* margin: 0 auto; */
    margin-top: 10px;
    margin-left: 104px;
    border: 1px solid #999;
    border-radius: 20px;
    line-height: 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
}

.modCon tr p{
	margin:5px 0;
	width: 150px;
}

/* .modCon tr input{margin:5px 0;} */
.modCon tr .txtBox{width:370px;}
.btn1{
	display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-color: #31363d;
    border-radius: 5px; 
}
.btn2{
	display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;  
}
.btn3{
	display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-color: #31363d;
    border-radius: 5px;    
    
}
/* .bnt3 > a:hover{background: #ccc;}

.modCon > ul{margin-top: 30px;} */
.letter{
	color: #030303;
    margin: 0 auto;
    font-size: 17px;
    width: 1025px;
	}
.letter .symbol{
	position: relative;
    left: -10px;
	font-size: 14px;
    color: #f8574f;
}
#readonly {
	background: #ddd;
	border: none;
}

.btn_footer {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;

}
.btn_footer1 {
	padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
	margin-left: 900px;
}
.btn1:hover {
    background-color: #fff;
    color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn2:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn3:hover {
    background-color: #fff;
    color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 32em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #545454;
    font-family: inherit;
    font-size: 1re;
    }