@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

        * {
            margin: 0;
            padding: 0;
            font-family: 'nanumsquare';
            white-space: nowrap;
        }
        /* 멤버쉽 타이틀 화면 시작 */
        .m_section {
            position: relative;
            width: auto; height: 100vh;
            background-image: url("../img/mem_main.jpg");
            background-size: cover;
            display: block;
            margin-top: -200px;
        }

        .m_title {
            position: absolute;
            margin-left: 69vw;
            margin-top: 55vh;
            font-size: 30px;   
            font-weight: 800;
        }

        .m_title p:nth-child(1){
            font-size: 75px;
            font-weight: 800;
            text-align: right;
        }

        .m_title p:nth-child(2){
            font-size: 45px;
            font-weight: 100;
            margin-top: -10px;
            text-align: right;
        }
        /* 멤버쉽 타이틀 화면 끝 */

        /* 멤버쉽 상세 안내 시작 */
        .m_main {
            width: auto; height: 100%;
            display: block;
            position: relative;
        }

        .m_list {
            margin: 0 10vw;
            padding-top: 2%;
            text-align: center;
        }
        
        .main_title {
            margin: 0 auto 3% auto;
            width: 55vw;
            text-align: center;
        }

        .main_title>img {
			float: left;
            width: 135px;
            height: 135px;
        }

        .main_title>h2 {
            font-size: 45px;
            color: #030303;
            text-align: left;
        }

        .main_title>p {
            margin-top: 5px;
            font-size: 30px;
            text-align: left;
        }
        
        #m_menu {
            list-style: none;
            text-align: center;
        }

        #m_menu>li {
            vertical-align: top;
            display: inline-block;
            margin: 2% 10px 0 10px;
            width: 320px;
            text-align: center;
        }

        .m_icon {
            width: 60px; height: 60px;
            float: left;
            text-align: center;
        }

        h3 {
            font-size: 30px;
            text-align: left;
            padding-left: 70px;
        }
        .box {
            margin: 0 auto;
            text-align: left;
            padding-left: 70px;
        }
        /* 멤버쉽 상세 안내 끝 */
        .m_qna {
            margin-left: 10vw;
            margin-right: 10vw;
            padding-top: 3%;
            text-align: center;
        }

        .m_qna>h2 {
            margin: 0 5%;
            font-size: 45px;
            color: #030303;
            text-align: left;
        }

        .qna {
            margin: 0 5%;
            border-bottom: 1px solid #e0e0e0;
        }

        .qna>button {
            font-size: 19px;
            padding: 20px 0;
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            width: 100%;
            text-align: left;
        }

        .qna>button:hover {
            color: #2962ff;
        }
        .qna>div {
            text-align: left;
            display: none;
            padding-bottom: 20px;
        }
        .qna>div.active {
            margin: 0 5%;
            display: block;
            padding-bottom: 20px;
        }