*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
}

#wrap{
    width: 1920px;
    margin: 0 auto;
}
.pw_wrap{
    width: 500px;
    margin: 100px auto;
}
.pw_wrap > div{
    margin-top: 30px;
    width: 100%;
}
.pw_tit > h3{
    font-size: 30px;
    margin-top: 90px;
    width: 100%;
}

.pw_tit > .pw {
    font-size: 20px;
    margin-top: 50px;
    
}

.pw_tit > p{
    margin-top: 50px;
}
.pw_change > label{
    font-size: 0.8em;
}
.pw_change > input{
    -webkit-appearance : none;
    -moz-appearance:none;
    appearance:none;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding:0 5px;
    border: none;
    border-bottom: 1px solid #333;
}
/* .pw_btn > a{
    display: block;
    width: 100%;
    height: 50px;
    background: #ddd;
    border-radius: 3px;
    text-align: center;
} */
    
/* .pw_btn > a:hover{background: #ccc;} */

#pw_btn1{
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
 }
    
/* .pw_btn > a{
    display: block;
    width: 100%;
    height: 50px;
    background: #ddd;
    border-radius: 3px;
    text-align: center;
}
.pw_btn > a:hover{background: #ccc;}
.pw_btn > a > p{
    width: 100%;
    height: 100%;
    line-height: 50px;
} */