#reservationForm {
            align-items: center;
        }

        /* 소제목태그 */
        #under {
            margin-top: 10px;
            border: 2px solid gray;
            width: 260px;
            margin-left: 17%;
        }

        .reservationtag {
            margin-top: 286px;
            text-align: left;
            font-size: 25px;
            margin-left: 17%;
        }

        /* 여기까지 */

        /* 테이블 */
        #pet_table {
            margin: auto;
            text-align: center;
            width: 69%;
            height: 40px;
            table-layout: fixed;
        }

        #pet_table td {
            height: 30px;
        }

        #pet_table1 {
            margin: auto;
            text-align: center;
            width: 69%;
            table-layout: fixed;
        }

        #pet_table2 {
            margin: auto;
            text-align: center;
            width: 69%;
            table-layout: fixed;
        }

        /* 여기까지 */

        #checkin {
            margin-left: 10%;
            margin-right: 10%;
            font-size: 30px;
        }

        #checkin2 {
            margin-left: 10%;
            margin-right: 10%;
            cursor: pointer;
            font-size: 30px;
        }

        #checkout {
            margin-left: 10%;
            margin-right: 10%;
            font-size: 30px;
        }

        #checkout2 {
            margin-left: 10%;
            margin-right: 10%;
            cursor: pointer;
            font-size: 30px;
        }

        #mypet {
            margin-left: 10%;
            margin-right: 10%;
        }

        #mypet2 {
            margin-left: 10%;
            margin-right: 10%;
            cursor: pointer;
        }

        #btn_addpet {
            margin-top: 10px;
            text-align: center;
        }

        #btn_pet1 {
            margin-top: 50px;
            text-align: center;
        }

        .btn_pet2 {
            margin-left: auto;
            margin-right: auto;
            width: 68%;
            margin-top: 50px;
            text-align: right;
        }

        #checkwrap {
            text-align: center;
        }

        #checkwrap li,
        #checkwrap ul {
            display: inline-block;

        }

        /* 결제상황창 */
        #petpayment {
            width: 68.8%;
            margin: auto;
            text-align: center;
            table-layout: fixed;
        }

        #petpayment li ul {
            display: inline-block;
        }

        #petpayment li {
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            list-style: none;
            text-align: center;
        }

        /* 여기까지 */


        /* 결제정보창 */
        .paymentinfo2 {
            margin: auto;
            width: 100%;
            height: 20%;
            text-align: center;
            table-layout: fixed;
            display: none;
        }

        /* 여기까지 */

        .reservationtext1 {
            list-style: none;
            display: inline-block;
            color: brown;
            font-size: 20px;
        }

        .reservationtext2 {
            list-style: none;
            display: inline-block;
            color: black;
            font-size: 20px;
        }

        #div1 ul li {
            list-style: none;
            display: inline-block;
            color: brown;
            font-size: 20px;

        }

        #div2 ul li {
            list-style: none;
            display: inline-block;
            color: black;
            font-size: 20px;
        }

        .reservationtext {
            margin: 15px;
        }


        /* 버튼 */
        #btn_pet1_1,
        #btn_pet2_1,
        #btn_pet2_2,
        #btn_pet2_3,
        #pop_end1 {
            color: #444444;
            background: #F3F3F3;
            border: 1px #DADADA solid;
            padding: 5px 10px;
            border-radius: 2px;
            font-weight: bold;
            font-size: 9pt;
            outline: none;
        }

        #btn_pet1_1:hover,
        #btn_pet2_1:hover,
        #btn_pet2_2:hover,
        #btn_pet2_3:hover,
        #pop_end1:hover {
            border: 1px #C6C6C6 solid;
            box-shadow: 1px 1px 1px #EAEAEA;
            color: #333333;
            background: #F7F7F7;
        }

        #btn_pet1_1:active,
        #btn_pet2_1:active,
        #btn_pet2_2:active,
        #btn_pet2_3:active,
        #pop_end1:active {
            box-shadow: inset 1px 1px 1px #DFDFDF;
        }
        /* 여기까지 */

        /* 요청사항 */
        .petcomment {
            margin: auto;
            border-radius: 10px;
            text-align: center;
            height: 140px;
            display: none;
        }

        .click {
            display: block;
        }

        .petcomment>textarea {
            border: 1px solid black;
            box-sizing: border-box;
            border-radius: 15px;
            width: 69%;
            height: 80%;
            padding: 10px 20px;
            margin: 5px 0;
            resize: none;
            font-size: 18px;
            
        }
        #petcommentLengh{
        	margin: auto;
        	width: 69%;
        	text-align: right;
        }

        /* 여기까지 */

        .paymentinfo1 tr {
            position: relative;
        }

        .totalpayment {
            display: block;
            width: 160px;
            height: 25px;
            position: absolute;
            right: 240px;
            top: 10px;
        }

        .membership {
            display: block;
            width: 970px;
            height: 25px;
            position: absolute;
            left: -315px;
            top: 10px;
        }
        
        #bronzeimg {
            display: block;
            position: absolute;
            top: 5px;
            left: 10px;
        }

        .totalcost {
            display: block;
            position: absolute;
            top: 10px;
            right: 20px;
        }
        
    	#lay_pop{
    		position:absolute;
    		z-index:500;
    		width:69%;
    		height:800px;
    		overflow-y:scroll;
    		display:none;
    		background-color:#ffffff;
    		border:2px solid #cccccc; 
    		text-align: center;
    		}
    	
    	#pop_content {
    		text-align: center;
    		margin-top:60px;
            display: inline-block;
    		}
    	
    	#pop_content ul li{
    		text-align: center;
            display: inline-block;
    		}
    		
    	#all_body{
    		position:absolute;
    		z-index:9;
    		display:block;
    		filter:alpha(opacity=50);
    		opacity:0.5;
    		-moz-opacity:0.5;
    		background-color:#000000;
    		left:0;
    		top:0;}
    	
    	#pop_end{
            margin-left: auto;
            margin-right: auto;
            width: 68%;
            margin-top: 50px;
            text-align: right;
    	}
    	
    	#asd{
    		margin-right:35px;
        	text-align: center;
    	}
    	
        #ch_pet_table {
            margin: auto;
            text-align: center;
            width: 69%;
            height: 40px;
            table-layout: fixed;
        }

        #ch_pet_table td {
            height: 30px;
        }
        
        .petUsed{
        	content:url("${contextPath}/resources/img/close.png")
        }
        
        .dogname{
        	font-size:14px;
        }
        