/* header */
header{
    width: 100%; height: 160px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s;
    z-index: 100;
}

/* header scroll */
.down{
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: -20px;
    height: 140px;
}
.nav_down{
    margin-top: -10px;
}
/* ************* */

.header_box{
    width: 1270px; height: 100%;
    margin: 0 auto;
    position: relative;
}
.header_box>.logo{
    width: 95px; height: 45px;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    left:-47px ; margin-left: 50%;
    top: 30px;
    letter-spacing :-2px;
}
.log_wrap{
    position: absolute;
    top: 60px; right: 35px;
}
#signup, #logout{
    margin-left: 20px;
}
.header_box>.hr{
    width: 100%; height: 1px;
    position: relative;
    top: 100px;
    background-color: rgba(70, 70, 70, 0.3);
}
nav{
    width: 100%; height: 20px;
    position: relative;
    top: 120px;
    transition: all 0.3s;
}
.menu_wrap{
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-flow:row;
    justify-content:space-between;
}
.r_menu{
    width: 280px;
    left: 35px;
}
.l_menu{
    width: 140px;
    right: 35px;
}
.menu{
    font-weight: 600;
    height: 20px;
    transition: color 0.3s;
}
.menu:hover{
    color: #e59f5a;
}
/* header end */

/* side */
.side_wrap{
    width: 42px; height: 42px;
    position: fixed;
    bottom: 50px; right: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    transition: all 0.3s;
    z-index: 50;
}


.side_btn{
    display: block;
    width: 40px; height: 40px;
    border: 1px solid #999;
    border-radius: 25px;
    z-index: 50;
    position: relative;
    top: 0; right: 0;
    opacity: 0;
    transition: all 0.5s;
    fill:#fff;
    top: 40px;
}
.side_btn:first-child{
    top: 0;
    opacity: 1;
}
.side_wrap:hover{
    height: 180px;
}
.side_wrap:hover .side_btn{
    opacity: 1;
    top:0
}
.side_wrap:hover .plus{
    opacity: 0;
}
.side_wrap:hover .arrow{
    opacity: 1;
}
.move_bt{
    background-color: #e59f5a;
    color: #fff;
    border: #e59f5a;
    overflow: hidden;
}
.move_bt:hover{
    width: 122px;
    right: 80px;
}
.move_bt p{
    font-size: 13px;line-height: 42px;
    font-weight: 100;
    margin-left: 40px;
    font-weight: 400; color: #fff;
}
.icon{
    transform: scale(0.8);
    position: absolute;
    top: 8px; left: 8px;
}
.plus{
    width: 40px; height: 40px;
    transform: scale(0.5);
    fill: #999;
    position: relative;
    transition: all 0.3s;
    }
.arrow{
    top:-48px;
    opacity: 0;
}
/* side end */

/* footer */
footer{
    width: 100%; height: 450px;
    background-color: #696969;
    color: #ccc; font-weight: 100;
    font-size: 13px;
}
.footer_wrap{
    width: 1270px; height:100%;
    margin: 0 auto;
    position: relative;
}
.foot_logo{
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    position: relative;
    top: 50px; left: 100px;
}
.min_title{
    color: #fff;
    font-size: 15px; 
    font-weight: 600;
    margin-bottom: 5px;
}
.info{
    width: 210px;
    position: relative;
    top: 90px; left: 100px;
    margin-bottom: 20px;
}
.info:nth-child(4){
    top: -32px; left: 350px;
}
.foot_menu_wrap{
    width: 360px; height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 100px; right: 100px;
}
.foot_menu_wrap ul{
    width: 80px;
}
.foot_menu_wrap .min_title{
    text-align: center;
}
.h_hr{
    width: 1px; height: 100px;
    background-color: #888;
    margin-top: 8.5px;
}
.foot_menu_wrap a{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: #ccc; font-weight: 100;
}
.footer_wrap .hr{
    width: 100%; height: 1px;
    background-color: #888;
    margin-top: 100px;
}
.copy{
    font-size: 12px; font-weight: 100;
    color: #ccc; text-align: center;
    margin-top: 40px;
}
/* footer end */