<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <mappers>

	<mapper resource="mybatis/mappers/mypage.xml"/>
 	<mapper resource="mybatis/mappers/user.xml"/>
 	<mapper resource="mybatis/mappers/questions.xml"/>
 	<mapper resource="mybatis/mappers/review.xml"/>
 	<mapper resource="mybatis/mappers/reservation.xml"/>
 	<mapper resource="mybatis/mappers/petservice.xml"/>
 	<mapper resource="mybatis/mappers/adminUser.xml"/>

 </mappers>
</configuration>
